# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/sky.frag)

//
//	Fonts
//
Resource(engine/font/min/siv3d-min.woff)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//

//
//	Icons
//
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////
/*
Resource(score.txt)
Resource(story1.txt)
Resource(story2.txt)
Resource(story3.txt)
Resource(story4.txt)
Resource(Ending.txt)
Resource(ルール説明.txt)
Resource(操作説明.txt)
Resource(Images/AlienOnMallet.png)
Resource(Images/AnnnaOnMallet.png)
Resource(Images/AttackedTableSideAnnna.png)
Resource(Images/Bat1.png)
Resource(Images/Bat2.png)
Resource(Images/Bat3.png)
Resource(Images/BombMark.png)
Resource(Images/game_Back.png)
Resource(Images/TableSideAlien2.1.png)
Resource(Images/TableSideAlien2.2.png)
Resource(Images/TableSideAnnna.png)
Resource(Images/Tim1.png)
Resource(Images/Tim2.png)
Resource(Images/Tim3.png)
Resource(Images/Tim4.png)
Resource(Images/Credit/1766.png)
Resource(Images/Credit/1768.png)
Resource(Images/Credit/おわかれ1.png)
MYIDENTIFIER_1 FILE "Images/Credit/スクリーンショット 2022-11-04 200526.png"
MYIDENTIFIER_2 FILE "Images/Credit/スクリーンショット 2022-11-04 200645.png"
Resource(Images/Credit/世田キャン巡り.png)
Resource(Images/ending/1.JPG)
Resource(Images/ending/2.JPG)
Resource(Images/ending/3.JPG)
Resource(Images/ending/4.JPG)
Resource(Images/ending/5.JPG)
Resource(Images/ending/6.JPG)
Resource(Audios/button06.mp3)
Resource(Audios/ティム殴る.mp3)
Resource(Audios/ティム回復.mp3)
Resource(Audios/プレイヤー回復.mp3)
Resource(Audios/ポーズ.mp3)
Resource(Audios/ボタン移動.mp3)
Resource(Audios/宇宙人ダウン.mp3)
Resource(Audios/打ち返す.mp3)
Resource(Audios/得点.mp3)
Resource(Audios/発射音.mp3)
Resource(Audios/被弾.mp3)*/

/* examples 

	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks
	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
